APP_ENV=development
APP_URL=http://localhost/Ebeneza

DB_HOST=localhost
DB_NAME=ebeneza_foundation
DB_USER=root
DB_PASSWORD=

MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=no-reply@example.org
MAIL_FROM_NAME="Ebeneza Foundation"
